@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

@font-face {
      font-family: titleFont;
      src: url(./assets/fonts/Product\ Sans\ Bold.ttf);
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      scroll-behavior: smooth;
}

html,
body {
      overflow-x: hidden;
      /* Prevent horizontal overflow */
      height: 100%;
      width: 100%;
}

.main {
      width: 100%;
      height: 100%;
      /* Enable vertical scrolling */
      overflow-y: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      /* Smooth scrolling for mobile devices */
}

/* theme  */

.main[theme="white"] {
      background-color: #ffffff;
      color: #000000;
}

.main[theme="white"] .icon {
      color: #000000;
}

.main[theme="white"] .menu-btn {
      background-color: #000000;
      color: #ffffff;
}

.main[theme="white"] .menu-btn>span {
      background-color: #ffffff;
}


canvas {
      position: fixed;
      top: 0;
      height: 100vh;
      z-index: 2;
      pointer-events: none;
}



#movement-section-canvas>canvas{
      max-height: 100vh;
      max-width: 100vw;
      position: relative;
  }
.container_mouse .mouse-btn .mouse-scroll{
      animation: scrolling 1s linear infinite;
}

.hero-section {
      /* background-color: red; */
      background-image: url('./assets/img/hero\ section\ background.jpg');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
}
.hero-section > h1 {
      font-family: "Dosis", sans-serif;
      font-weight: 500;
}

 /* .product-section {
      background-image: url('./assets/img/product\ section\ background.jpg');
      background-size: cover;
}  */

.extented-menu {
      clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
      transition: clip-path 0.3s;

}

.menu-item>h1 {
      transition: opacity 0.8s ease-in;
}

.menu-item:hover h1 {
      opacity: 1;
}
.product-card {
      transition: box-shadow 0.3s ease-in-out;
  }

  .product-card:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  }


.new-arrival-background {
      background: #3b3b3b;
      background: linear-gradient(0deg,
                  #3b3b3b 0%,
                  rgba(256, 176, 69, 0) 100%);
      transition: background-color 0.5s;
}
.movement-type-section{
      /* background-color: #3b3b3b; */
      transition: background-color 0.5s;
}
.movement-type-section::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%; /* Start off-screen to the right */
      width: 100%;
      height: 100%;
      background-color: #3b3b3b;
      transition: right 2s ease-in-out;
  }



.new-arrival-title{
      -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
      mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.new-arrival-title h1, .movement-text-title h1, .brand-heading {
      font-family: titleFont;
      text-transform: uppercase;
      -webkit-text-stroke: 2px #fff;
      color: transparent;
      transition: color 1s;
}

.filled-text {
      color: white;
  }

  .marquee-part{
      display: flex;
      align-items: center;
      flex-shrink: 0;
      padding: 0 4px;
  }
  
  .brand{
      z-index: 25;
  }


 

  .innerCircle {
      transition: background-color 0.5s;
    }

    #canvas2{
      position: absolute;
      top: 0;
      right: 0;
      /* transform: translateY(-50%); */
      width: 50%;
      height: auto;
      opacity: 0;
      /* display: none; */
      /* background-color: red; */
    }
    .product-type-title h1{
      transition: opacity 0.5s ease-in-out;
    }
    .product-type-title:hover h1{
      opacity: 1;
    }

    .animate-on-hover span {
      display: inline-block; 
    }
    
  
    @keyframes scrolling {
      0% {
        opacity: 0;
        transform: translateY(-20px);
      }
    
      100% {
        opacity: 1;
        transform: translateY(20px);
      }
    }


    /* try loading page  */
   

    .add-to-cursor{
      width: 16px;
      height: 16px;
    }
 
   .loading-screen {
      clip-path: circle(100% at 50% 50%);
      transition: clip-path 1s ease-in-out;
   }

.slide2 h1{
      font-family: "Edu AU VIC WA NT Hand", cursive;
}
.slide3 h1{
      font-family: "Quicksand", sans-serif;
}

.slide4 h1{
      font-family: "Dosis", sans-serif;
}

  

